.main {
  margin-left: 110px;
  /* background-image: url(./assets/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

@media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}
